$fontTitle: 900 calc(10vw + 10vh + 10vmin)/.55 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$fontBody: 400 1em/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$colorRed: rgb(247, 28, 48);
$colorGreen: rgb(103, 142, 61);
// $colorBlue: rgb(0, 122, 179);
// $colorBlue: rgb(25, 118, 210);
$colorBlue: rgb(15, 80, 239);
// $colorBlue: #01579b;
// $colorBlack: #333;
// $colorBlack: #161897;
// $colorBlack: #0F2347;
// $colorBlack: #800813;
$colorBlack: #222;
// $colorWhite: rgb(239, 239, 239);
$colorWhite: #FFFFFE;